bin/
obj/
Logs/
Builds/
.vs/
Library/
Temp/
*.csproj
*.sln
.DS_Store
*.user
packages/
*launchSettings.json
poltergeist.keystore
Assets/Audio/
Assets/StreamingAssets/BuildInfo
Assets/StreamingAssets/BuildInfo.meta
.vsconfig
UserSettings/
